<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Transcoder</title>
		<style>
			input {
				margin-bottom: 10px;
			}

			table {
				border: 1px solid;
			}
		</style>
	</head>
	<body>
		<form action="/upload" enctype="multipart/form-data" method="post">
			<input type="file" name="upload" accept="video/*"><br>
			<input type="submit" value="Upload">
		</form>
		<table border="1">
			<tr>
				<th>Title</th>
				<th>Created at</th>
				<th>Quality</th>
				<th>Status</th>
				<th>Output file</th>
			</tr>
			<% for (var i = 0; i < jobs.length; i++) { var job = jobs[i]; %>
				<tr>
					<td><%= job.title %></td>
					<td><%= job.created %></td>
					<td><%= job.quality %></td>
					<td><%= job.status %></td>
					<td><a href="files/<%= job.fileId %>-<%= job.quality %>.mp4">Link</a></td>
				</tr>
			<% } %>
		</table>
	</body>
</html>